<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Mars Missions</h1>
	<br>
	<ul>
		<li><a href="http://localhost:3000/missions/show/0"><%= missions[0].name %></a> </li>
		<li><a href="http://localhost:3000/missions/show/1"><%= missions[1].name %></a>	</li>
		<li><a href="http://localhost:3000/missions/show/2"><%= missions[2].name %></a>	</li>
		<li><a href="http://localhost:3000/missions/show/3"><%= missions[3].name %></a>	</li>
		<li><a href="http://localhost:3000/missions/show/4"><%= missions[4].name %></a>	</li>

	</ul>
</body>
</html>