<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Missions Index</h1>
		
		<a href="http://localhost:3000/models/0"><%=Curiosity%></a>
		<a href="http://localhost:3000/models/1"><%=Opportunity%></a>
		<a href="http://localhost:3000/models/2"><%=Spirit%></a>
		<a href="http://localhost:3000/models/3"><%=Sojourner%></a>
		<a href="http://localhost:3000/models/4"><%=Rosetta%></a>
	
</body>
</html>