<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Mars Missions</h1>
	<br>
	<ul>
		<li><%= missions[0].name %></li>
		<li><%= missions[1].name %></li>
		<li><%= missions[2].name %></li>
		<li><%= missions[3].name %></li>
		<li><%= missions[4].name %></li>

	</ul>
</body>
</html>