<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1><%= mission.name%></h1>
<br>
<ul>
	<li>Launch Date: <%= mission.launchDate%></li>
	<li>Operator: <%= mission.operator%></li>
	<li>Mission Type: <%= mission.missionType%></li>
	<li>Image: <%= mission.img%></li>

</ul>


</body>
</html>